### Heroes Of Pymoli Data Analysis
* Of the 576 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of 81 female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  

* Oathbreaker, Last Hope of the Breaking Storm is the most profitable and popular item around the players. The item was purchased 12 times making total revenue of $50.76.
-----

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [2]:
purchase_path = "Resources/purchase_data.csv"
#school_path = "Resources/schools_complete.csv"
#student_path = "Resources/students_complete.csv"

In [3]:
# Read the CSV into a Pandas DataFrame using 'Purchase ID' Column as the dataframe index
pymoli = pd.read_csv(purchase_path)
pymoli_unique = pymoli.groupby(by= 'SN', as_index = False).first()
pymoli.head(5)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
player_demographics = pymoli.loc[:, ["Gender", "SN", "Age"]]
player_demographics = player_demographics.drop_duplicates()
player_demographics

                    Gender              SN  Age
0                     Male         Lisim78   20
1                     Male     Lisovynya38   40
2                     Male      Ithergue48   24
3                     Male   Chamassasya86   24
4                     Male       Iskosia90   23
5                     Male         Yalae81   22
6                     Male       Itheria73   36
7                     Male     Iskjaskst81   20
8                     Male       Undjask33   22
9    Other / Non-Disclosed     Chanosian48   35
10                    Male       Inguron55   23
11                    Male    Haisrisuir60   23
12                    Male    Saelaephos52   21
13                    Male     Assjaskan73   22
14                    Male     Saesrideu94   35
15                  Female       Lisassa64   21
16                    Male       Lisirra25   20
17                    Male       Zontibe81   21
18                  Female       Reunasu60   22
19                    Male       Chamalo71   30
20                    Male    Iathenudil29   20
21                    Male   Phiarithdeu40   20
22   Other / Non-Disclosed    Siarithria38   38
23                    Male        Eyrian71   40
24                    Male         Siala43   30
25                    Male       Lisirra87   29
26                    Male      Lirtossa84   11
27                    Male         Eusri44    7
28                    Male          Aela59   21
29                    Male         Tyida79   24
..                     ...             ...  ...
728                   Male    Chanosiaya39   44
729                   Male       Assylla81   20
730                   Male       Aidaira26   30
731                 Female        Eudanu84   22
733                   Male      Chamiman85   20
736                   Male     Tyialisti80   23
737                   Male       Marundi65   22
738                   Male         Eusur90   36
739                   Male   Mindirranya33   35
741                   Male    Phiallylis33   19
742                   Male          Isty55   20
743                   Male     Frichilsa31   15
745                   Male      Chanista95   39
746                   Male      Aellyria80   23
748                   Male   Rastynusuir31   20
750                   Male        Iljask75   22
751                   Male     Lisjaskan36   11
752                   Male   Mindjasksya61   17
753                   Male  Frichirranya75   36
756                   Male         Ilast79   20
757                   Male       Eratiel90   18
761                   Male         Assim27   45
765                   Male         Irith83   18
769                   Male       Ilosian36   15
771                   Male    Iskossasda43   16
773                   Male          Hala31   21
774                   Male      Jiskjask80   11
775                 Female      Aethedru70   21
777                   Male      Yathecal72   20
778                   Male         Sisur91    7

[576 rows x 3 columns]

### Checking Values (null)
-----

In [5]:
# Check values
pymoli.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 780 entries, 0 to 779
Data columns (total 7 columns):
Purchase ID    780 non-null int64
SN             780 non-null object
Age            780 non-null int64
Gender         780 non-null object
Item ID        780 non-null int64
Item Name      780 non-null object
Price          780 non-null float64
dtypes: float64(1), int64(3), object(3)
memory usage: 42.7+ KB

### Player Count
-----

In [7]:
# Calculate the Number of Unique Players
player_demographics = pymoli.loc[:, ["Gender", "SN", "Age"]]
num_players = player_demographics["SN"].nunique()
# Display the total number of players
pd.DataFrame({"Total Players": [num_players]})

   Total Players
0            576

### Purchasing Analysis (Total)
-----

In [22]:
# Run basic calculations
average_item_price = pymoli["Price"].mean()
average_item_price.np = ((average_item_price * 100).map("{:.2f}".format))

AttributeError: 'float' object has no attribute 'map'

In [11]:
total_purchase_value = pymoli["Price"].sum()
purchase_count = pymoli["Price"].count()
item_count = len(pymoli["Item ID"].unique())

AttributeError: 'float' object has no attribute 'map'

In [12]:
# Create a DataFrame to hold results
summary_table = pd.DataFrame({"Number of Unique Items": item_count,
                              "Total Revenue": [total_purchase_value],
                              "Number of Purchases": [purchase_count],
                              "Average Price": [average_item_price]})

In [13]:
# Display the summary_table
summary_table

   Number of Unique Items  Total Revenue  Number of Purchases  Average Price
0                     183        2379.77                  780       3.050987

### Gender Demographics
-----

In [44]:
gender_df = pd.DataFrame(pymoli_unique['Gender'].value_counts())

gender_df.rename(columns = {'Gender': 'Total Count'}, inplace=True)

gender_df['Percentage of Players'] = ((gender_df["Total Count"] / total_ply) * 100).map("{:.2f}".format)

gender_df

                       Total Count Percentage of Players
Male                           484                 84.03
Female                          81                 14.06
Other / Non-Disclosed           11                  1.91

In [ ]:
gender_demographics_totals = player_demographics["Gender"].value_counts()
gender_demographics_percents = gender_demographics_totals / num_players * 100
gender_demographics = pd.DataFrame({"Total Count": gender_demographics_totals, 
                                    "Percentage of Players": gender_demographics_percents})

### Purchasing Analysis (Gender)
-----

In [50]:
gender_prch_grp = pymoli.groupby(by = 'Gender')

#gender_prch_df = gender_prch_grp.agg({"Price": 
#                                      [("Purchase Count", "count"), 
#                                                 ("Average Purchase Price", "mean"), 
#                                                 ("Total Purchase Value", "sum")]})
#["Price"]

In [51]:
gender_purchase_total = pymoli.groupby(["Gender"]).sum()["Price"].rename("Total Purchase Value")
gender_average = pymoli.groupby(["Gender"]).mean()["Price"].rename("Average Purchase Price")
gender_counts = pymoli.groupby(["Gender"]).count()["Price"].rename("Purchase Count")

In [ ]:
normalized_total = gender_purchase_total / gender_demographics["Total Count"]

In [46]:
#still am looking for the AVERAGE TOTAL PURCHASE PER PERSON.... and PRICE in the wrong place.....
###gender_prch_df["Average Total Purchase Per Person"] = (gender_prch_df["Total Purchase Value"] / gender_df["Total Count"])

In [52]:
gender_purchase_total

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Total Purchase Value, dtype: float64

In [53]:
gender_average

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Average Purchase Price, dtype: float64

In [54]:
gender_counts

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase Count, dtype: int64

In [ ]:
# Convert to DataFrame
gender_data = pd.DataFrame({"Purchase Count": gender_counts, 
                            "Average Purchase Price": gender_average, 
                            "Total Purchase Value": gender_purchase_total, 
                            "Normalized Totals": normalized_total})

In [47]:
gender_prch_df.style.format({"Average Purchase Price" : "${:,.2f}", 
                             "Total Purchase Value" : "${:,.2f}", 
                             "Average Total Purchase Per Person": "${:,.2f}"})

### Age Demographics
-----

In [ ]:
#this is what is supposed to look like and below you can see I am missing columns......

In [ ]:
# The criteria to bin by.
# int : Defines the number of equal-width bins in the range of x. The range of x is extended by .1% on each side to include 
# the minimum and maximum values of x.

bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 150.9]
group_names = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

age_demo_df = pd.DataFrame({'Age' : pymoli_unique['Age']})
age_demo_df['age_buckets'] = pd.cut(age_demo_df['Age'], bins, labels=group_names)

age_demo_grp = age_demo_df.groupby(by='age_buckets')
age_demo_grp_df = age_demo_grp.count()

age_demo_grp_df['Percentage of Players'] = ((age_demo_grp_df['Age']/age_demo_df['age_buckets'].count()) * 100).map("{:.2f}".format)

age_demo_grp_df.rename(columns = {'Age': 'Total Count' }, inplace=True )
age_demo_grp_df.index.name = None

age_demo_grp_df

### Purchasing Analysis (Age)
-----

In [ ]:
bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 150.9]
group_names = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

purchasing_analysis = pd.DataFrame({'Price' : pymoli['Price'], 'Age' : pymoli['Age'], 'Gender' : pymoli['Gender']})
purchasing_analysis['age_buckets'] = pd.cut(purchasing_analysis['Age'], bins, labels=group_names)

purchasing_analysis_unique = pd.DataFrame({'Age' : pymoli_unique['Age']})
purchasing_analysis_unique['age_buckets'] = pd.cut(purchasing_analysis_unique['Age'], bins, labels=group_names)

group_analysis = purchasing_analysis.groupby(by='age_buckets')
pivot_analysis = group_analysis.agg({'Price' : [('Purchase Count', 'count'), 
                                                ('Average Purchase Price', 'mean'), 
                                                ('Total Purchase Value', 'sum')]})['Price']

pivot_analysis['Avg Total Purchase per Person'] = (pivot_analysis['Total Purchase Value'] / purchasing_analysis_unique.groupby(by='age_buckets').count()['Age'])

pivot_analysis['Average Purchase Price'] = pivot_analysis['Average Purchase Price'].map('${:,.2f}'.format)
pivot_analysis['Total Purchase Value'] = pivot_analysis['Total Purchase Value'].map('${:,.2f}'.format)
pivot_analysis['Avg Total Purchase per Person'] = pivot_analysis['Avg Total Purchase per Person'].map('${:,.2f}'.format)

pivot_analysis.index.name = None
pivot_analysis

### Top Spenders
-----

In [ ]:
top_spenders = pd.DataFrame({'SN' : pymoli['SN'], 'Price' : pymoli['Price']})

group_spenders = top_spenders.groupby(by='SN')
pivot_spenders = group_spenders.agg({'Price' : [('Purchase Count', 'count'), 
                                                ('Average Purchase Price', 'mean'), 
                                                ('Total Purchase Value', 'sum')]})['Price']

pivot_spenders.sort_values(by=['Total Purchase Value'], ascending=False, inplace=True)

pivot_spenders['Average Purchase Price'] = pivot_spenders['Average Purchase Price'].map('${:,.2f}'.format)
pivot_spenders['Total Purchase Value'] = pivot_spenders['Total Purchase Value'].map('${:,.2f}'.format)

pivot_spenders.head(5)

### Most Popular Items
-----

In [ ]:
popular_items = pd.DataFrame({'Item ID' : pymoli['Item ID'], 'Item Name' : pymoli['Item Name'], 'Price' : pymoli['Price']})
popular_items_grp = popular_items.groupby(by=['Item ID', 'Item Name'])

pivoti_popular_items = popular_items_grp.agg({'Price' : [('Purchase Count', 'count'), 
                                                         ('Item Price', lambda value: (value.sum()/value.count())), 
                                                         ('Total Purchase Value', 'sum')]})['Price']

pivoti_popular_items.sort_values(by=['Purchase Count'], ascending=False, inplace=True)

pivoti_popular_items['Item Price'] = pivoti_popular_items['Item Price'].map('${:,.2f}'.format)
pivoti_popular_items['Total Purchase Value'] = pivoti_popular_items['Total Purchase Value'].map('${:,.2f}'.format)

pivoti_popular_items.head(5)

### Most Profitable Items
-----

In [ ]:
pivoti_popular_items['Item Price'] = pivoti_popular_items['Item Price'].replace(to_replace='\$', value='', regex=True).astype(float)
pivoti_popular_items['Total Purchase Value'] = pivoti_popular_items['Total Purchase Value'].replace(to_replace='\$', value='', regex=True).astype(float)

pivoti_popular_items.sort_values(by=['Total Purchase Value'], ascending=False, inplace=True)

pivoti_popular_items['Item Price'] = pivoti_popular_items['Item Price'].map('${:,.2f}'.format)
pivoti_popular_items['Total Purchase Value'] = pivoti_popular_items['Total Purchase Value'].map('${:,.2f}'.format)

pivoti_popular_items.head(5)

* Display the total number of players

### CLASS INSTRUCTION PROVIDED AND REMAINS AS REFERENCE ONLY
-----

In [ ]:
#Number of Unique Items	Average Price	Number of Purchases	Total Revenue
#0	     183	           $3.05	             780	      $2,379.77

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame